*{
  padding:0;
  margin:0 auto;
  box-sizing: border-box;
}

.container{
  width:1000px;
  background-color: #fff;
}
.row{
  width:100%;
  margin-bottom: 30px;
}
.item{position:relative;
  text-align: center;
  width:33%;
  background-color: #eee;
  display:inline-block;
  border:1px solid black;
}

.sconto{
position:absolute;
top:0;
right:0;
background-color:green;
}

.sconto.poco{
  background-color:red;
}
.cuore-container{
  display: none;
  width:100%;
  position: absolute;
  color:red;
  bottom: 0;
}
.row:first-child .item:nth-child(2):hover .cuore-container {
  display:block;
}
